.move-0 {
  transform: translateX(0);
}

.move-25 {
  transform: translateX(-25%);
}

.move-50 {
  transform: translateX(-50%);
}

.move-76 {
  transform: translateX(-76%);
}

.move-102 {
  transform: translateX(-102%);
}

.move-127 {
  transform: translateX(-127%);
}

.move-153 {
  transform: translateX(-153%);
}

.move-178 {
  transform: translateX(-178%);
}

.move-203 {
  transform: translateX(-203%);
}
